.svg-icon-wrapper {
  display: inline-block;
  position: relative;
  height: 48px;
  width: 48px; }

.svg-icon-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0); }
