$mobile-nav-height: 48px;
$desktop-nav-height: 48px;
$desktop-top-nav-height: 80px;

$mq-mobile-min-width: 768px;
$mq-large-desktop-min-width: 980px;

$desktop-nav-element-width: 11%;
$desktop-search-width: 42%;
$border-radius: 4px;

$desktop-nav-item-center-padding: 13px;

$color-brand-light-blue: #38afc7;
$color-brand-dark-blue: #0047a6;
$color-nav-dark-blue: #1e2c42;
$color-brand-light-grey: #efefef;
$color-separator: #cccccc;

$shadows-prominent: 0px 1px 6px 0px rgba(50, 50, 50, 0.35);
