@import '../../../../styles-global/variables.scss';

.nav-cart-button {
  color: red;
  float: left;
}

.nav-cart-button svg {
  fill: $color-brand-light-blue;
}

@media (min-width: $mq-mobile-min-width) {
  .nav-cart-button {
    color: white;
    margin-left: 19%;
  }
  .nav-cart-button svg {
    fill: #ffffff;
  }
}

.nav-cart-button .web-nav-icon-label {
  bottom: 18px;
  right: -76%;
}
