.nav-cart-button {
  color: red;
  float: left; }

.nav-cart-button svg {
  fill: #38afc7; }

@media (min-width: 768px) {
  .nav-cart-button {
    color: white;
    margin-left: 19%; }
  .nav-cart-button svg {
    fill: #ffffff; } }

.nav-cart-button .web-nav-icon-label {
  bottom: 18px;
  right: -76%; }
