.nav-cart {
  width: auto;
  float: right; }

@media (min-width: 768px) {
  .nav-cart {
    width: 11%;
    height: 48px;
    background: #38afc7;
    border-radius: 4px;
    margin-right: 1%;
    box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.35); } }

@media (min-width: 768px) {
  .nav-cart-label {
    display: table-cell;
    width: 40%;
    margin-right: 10%;
    height: 48px;
    vertical-align: middle;
    color: white; } }
