@import '../../../styles-global/variables.scss';

.nav-cart {
  width: auto;
  float: right;
}

@media (min-width: $mq-mobile-min-width) {
  .nav-cart {
    width: $desktop-nav-element-width;
    height: $desktop-nav-height;
    background: $color-brand-light-blue;
    border-radius: $border-radius;
    margin-right: 1%;
    box-shadow: $shadows-prominent;
  }
}

@media (min-width: $mq-mobile-min-width) {
  .nav-cart-label {
    display: table-cell;
    width: 40%;
    margin-right: 10%;
    height: $desktop-nav-height;
    vertical-align: middle;
    color: white;
  }
}
