@import '../../../../styles-global/variables.scss';

.nav-search-button {
  width: auto;
  text-align: center;
}

.nav-search-button svg {
  fill: $color-brand-light-blue;
}

@media (min-width: $mobile-min-width) {
  .nav-search-button {
    width: 14%;
    float: right;
    background: $color-brand-light-blue;
    height: $desktop-nav-height;
  }

  .nav-search-button svg {
    fill: #ffffff;
  }
}
