@import '../../../styles-global/variables.scss';

.nav-search__container {
  width: auto;
}

@media (min-width: $mobile-min-width) {
  .nav-search__container {
    border-radius: $border-radius;
    width: $desktop-search-width;
    height: $desktop-nav-height;
    background: $color-brand-light-grey;
    border: 1px solid $color-separator;
    box-sizing: border-box;
    margin-right: 1%;
    overflow: hidden;
  }
}
