.nav-profile-icon__wrapper {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0; }

@media (min-width: 768px) {
  .nav-profile-icon__wrapper {
    position: relative; } }

.nav-profile-button {
  width: 48px;
  height: 48px;
  position: relative;
  display: inline-block; }

@media (min-width: 768px) {
  .nav-profile-button {
    width: 100%;
    text-align: center; } }

.nav-profile-label--baseline {
  position: absolute;
  left: 0;
  bottom: -4px;
  text-align: center;
  width: 100%;
  color: #38afc7; }

.profile-svg-filled-path {
  fill: #38afc7; }

@media (min-width: 768px) and (max-width: 980px) {
  .profile-svg-filled-path {
    fill: #ffffff; } }
