@import '../../../../styles-global/variables.scss';

.nav-profile-icon__wrapper {
  position: absolute;
  width: $mobile-nav-height;
  height: $mobile-nav-height;
  top: 0;
  left: 0;
}
@media (min-width: $mobile-min-width) {
  .nav-profile-icon__wrapper {
    position: relative;
  }
}

.nav-profile-button {
  width: $mobile-nav-height;
  height: $mobile-nav-height;
  position: relative;
  display: inline-block;
}

@media (min-width: $mobile-min-width) {
  .nav-profile-button {
    width: 100%;
    text-align: center;
  }
}


.nav-profile-label--baseline {
  position: absolute;
  left: 0;
  bottom: -4px;
  text-align: center;
  width: 100%;
}

.nav-profile-icon__wrapper {
  svg.filled-path {
    fill: red !important;
  }
}
