@import '../../../styles-global/variables.scss';

@media (min-width: $mobile-min-width) {
  .nav-customer-care {
    float: right;
    width: $desktop-nav-element-width;
    height: $desktop-nav-height;
    margin-right: 4%;
    color: $color-brand-light-blue;
    text-align: center;
    box-sizing: border-box;
    padding: $desktop-nav-item-center-padding 0;
    background: $color-brand-light-grey;
    border-radius: $border-radius;
    cursor: pointer;
  }
}
